.*.sw?

content/debug.log
content/updraft
content/uploads
content/wflogs
downloads
releases/bk/content/themes/ink/images/home/inkandspindle_process.mp4
config/wp-config-*.php
!config/wp-config-sample.php
